{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<li class="{{ include.type | default: "list" }}__item">
  <div class="honor-entry">
    <span class="honor-title">{% if post.link %}<a href="{{ post.link | escape }}">{{ title }}</a>{% else %}{{ title }}{% endif %}</span>
    <span class="honor-org"><i>{{ post.venue }}{% if post.date %} {{ post.date | default: "1900-01-01" | date: "%Y" }}{% endif %}</i></span>
  </div>
</li>
